html, body {
    /* background-color: white; */
   background-color: #EEEEFF;
    margin: 0;
    font-size: 1em;
    
}

body {
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

.content{
    
    width: 85%;
    overflow: auto;
    margin-top: 0em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

#profilepic {
    width: 250px;
    margin: 0em 1em 10em 1em;
    float: left;
    border: solid 4px black;
     border-radius: 50%;
}


.bio {
    color:black;
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.75;
    letter-spacing: .05em;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
    overflow: auto;
}


h1 {
    color: rgba(238, 234, 234, 0.993);
    
}

#toptext {
    display: block;
    color: rgb(238, 136, 20);
    font-size: 2em;
    letter-spacing: .2em;
    text-align: left;
    font-family:Arial;
    margin-left: 12.2em;
    margin-right: auto;
    margin-top: 3em;
    
}

h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
    
}

p, li, a {
    color: white;
    margin: 0em;
    padding: 0em;
    font-size: 1em;
    list-style-type: none;
    line-height: 1.75em;
    letter-spacing: .05em;
    text-decoration: none;
}





nav {
    content: "";
    clear: both;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0   , 0, .7);
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-flex;
    
}

nav li{
    display: inline-flex;
    
    
}

nav a {
    border: none;
    margin: 0;
    padding: .5em 1em .5em 1em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial;
    
}



.active {
    background-color: #6cdd10;
    
}

#myheading{
  margin-left: auto;
  margin-right: auto;
    width: 11%;
    color: black;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
    

}

.content2{
    
    width: 85%;
    overflow: auto;
    margin-top: 10em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20.7em;
}
 
.sabki{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: left; */
    margin-bottom: 15px;
    font-family: 'Newsreader', serif;
    font-size: 25px;
    
}


main{
    background-color:white;
    
}

#yt{
    
    border: 2px black;
 border-radius: 10%;
}

.content3{
    
    width: 85%;
    overflow: auto;
    margin-top: 7em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0em;
    
}
.schooltitle{
    width: 26%;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    

}
.schooling{
    font-size: 30px;
    
}


.college{
    margin-top: 100px;
}
.percentage{
    background-color: blue;
}
/* now from this contact me section */

#contactme{
    align-content: center;
    width: 20%;
    height: 15%;
    text-align: center;
    border:  solid rgb(71, 13, 245);
    border-radius:50% ;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.gmail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}